*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header{
    background-image: url(g.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 110vh;

}
.header h1{
    color: rgb(232, 92, 37);
    text-shadow: 10px 10px 10px black;
    font-size: 100px;
    margin: 0px 0px 0px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style:normal;
    margin-left: 25%;
  
  
  
}
.main{
    text-align: center;
}
.navbar{
    padding: 0 80px;
height: 3cm;
width: 100%;
background-color: rgb(83, 25, 25);
color:  rgb(83, 25, 25);
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
}
ul{
    display: flex;
    gap: 50px;
}
.nav_img{
    width: 100px;
}
.nav_img img{
    width: 70%;
}
a{ 

    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-size: 20px; 
     text-decoration: none; 
     color: blanchedalmond; 
     text-shadow: 1.5px 1.5px rgb(12, 11, 11); 
}
a:hover{
    color: blue;
}
button {
    width: 70px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    color: black;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}
button:hover {
    background-color: black;
    color: yellow;
}
.main{
    margin-top: 3cm;
}
.main h2{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
 font-weight:400;
 font-style: normal; 
 font-size: 80px;
 margin-top: 2cm;
 color: black;
 text-shadow: 2px 2px 2px yellowgreen;
}
.main p{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
   font-weight:400;
   font-style: normal;
   margin-top: 1cm;
   font-size: 20px;
}
section h3 {
    color: rgb(150, 40, 26);
    text-shadow: 2px 2px rgb(33, 32, 32);
    font-size: 40px;
    text-align: center;
    margin: 20px 0px 0px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal
    
}

.products {
   margin-left: 5cm;
    display: flex;
    flex-wrap: wrap;
     align-items: center; 
    /* justify-content: center; */ justify-content: left;
    gap: 10px;
}
.product {
    border: 4px solid rebeccapurple;
    border-radius: 5px;
    width: 20%;
    background-color: wheat;
    text-align: center;
    margin-top: 20px;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}
.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.product h2 {
    padding: 10px 0px;
}


